{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ casestudy.title }} - Case Study Detail{% endblock %}

{% block content %}

<!-- casestudy_detail.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h1>{{ casestudy.title }}</h1>
                </div>
                <div class="card-body">
                    {% load static %}
                    <img class="img-fluid mb-3" src="{% static 'images/default.png' %}" alt="Case study image">
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <strong><i class="fas fa-user"></i> Client:</strong> {{ casestudy.client }}
                        </div>
                        <div class="col-md-4">
                            <strong><i class="fas fa-map-marker-alt"></i> Location:</strong> {{ casestudy.location }}
                        </div>
                        <div class="col-md-4">
                            <strong><i class="fas fa-industry"></i> Industry:</strong> {{ casestudy.industry }}
                        </div>
                    </div>
                    
                    <div class="description">
                        <h3>Description</h3>
                        <p>{{ casestudy.description }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'home' %}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Back to Case Studies
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if comment.approved %}
          <!-- Approved comment: show normally -->
          {% elif not comment.approved and comment.author == user %}
          faded{% else %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.content | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This comment is awaiting approval
          </p>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% empty %}
        <p class="text-muted">No comments yet. Be the first to comment!</p>
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post"
          style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- casestudy_detail.html content ends here -->
{% endblock %}
